#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem 0.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-titles h1,
.container-titles h2,
.container-titles p {
  margin: 0;
}

.current-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.container-titles {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.7rem;
  background-color: #292525;
  border: 1px bisque inset;
  border-radius: 20px;
  color: whitesmoke;
  padding: 0.5rem;
}

.container-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  font-size: 1.5rem;
  border: 1px bisque inset;
  border-radius: 20px;
  background-color: #292525;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

input {
  text-align: center;
}

.error-message {
  color: whitesmoke;
  font-weight: bold;
  margin-top: 10px;
  background-color: #292525;
  border-radius: 30px;
}

/* tablet y escritorio */
@media (min-width: 768px) {
  .container-titles,
  .container-value {
    max-width: 350px;
    margin: 0 auto;
    padding: 8px;
  }

  .container-button {
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .container-inputs {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px 12px;
    max-width: 360px;
    margin: 0 auto;
    align-items: center;
  }

  .container-inputs input {
    max-width: 100px;
    border-radius: 30px;
    text-align: center;
    margin: 0;
    height: 30px;
  }

  .container-inputs button {
    white-space: nowrap;
    height: 32px;
    line-height: 30px;
    padding: 0 10px;
  }
}
/* escritorio grande */
@media (min-width: 1080px) {
  .container-titles,
  .container-value {
    max-width: 350px;
    margin: 0 auto;
  }
}
